:root {
  --primary: #fbf4e1;
  --bg: #a8a892;
  --brown: rgb(117, 75, 7);
}

@font-face {
  font-family: lemonmilk;
  src: url(../fonts/LEMONMILK-Regular.otf);
}

@font-face {
  font-family: gothic;
  src: url(../fonts/GOTHIC.TTF);
}

@font-face {
  font-family: gothicbold;
  src: url(../fonts/GOTHICB.TTF);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: gothic;
  background-color: var(--primary);
  color: #000000;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
  font-family: lemonmilk;
}

.navbar .navbar-nav a {
  color: black;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
  font-family: gothic;
  transition: 0.2s ease-in-out;
}

.navbar .navbar-nav a:hover {
  color: var(--brown);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--brown);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  color: black;
  margin: 0 0.5rem;
  transition: 0.2s ease-in-out;
}

.navbar .navbar-extra a:hover {
  color: var(--brown);
}

/* hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../images/yk-3_web.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  position: relative;
}

/* .hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, var(--primary) 8%, var(--bg) 50%);
} */

.hero .content {
  font-family: gothicbold;
  font-size: 1.7rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  padding: 1.4rem 7%;
  padding-left: 50rem;
  max-width: 100rem;
}

.hero .content span {
  color: var(--brown);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: var(--primary);
  background-color: var(--brown);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.hero .content .cta:hover {
  color: var(--black);
  background-color: var(--bg);
  transform: scale(1.1);
}

/* about section*/
.about {
  min-height: 100vh;
  display: flex;
  background-image: url(../images/yk-1_ed.png);
  background-color: white;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: left;
  position: relative;
}

.about .content {
  font-size: 1.7rem;
  padding: 1.4rem 7%;
  padding-left: 50rem;
  padding-top: 8rem;
  max-width: 160rem;
}

.about .content h2 {
  padding-top: 2.5rem;
  font-family: gothicbold;
  font-size: 4rem;
  font-weight: 200;
  text-align: right;
  margin-bottom: 3rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.about .content h2 span {
  color: var(--brown);
}

.about .content p {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  font-weight: 100;
  font-family: gothic;
  text-align: right;
}

/* product section */
.product {
  padding: 6rem 7% 1.4rem;
  min-height: 100vh;
}

.product .row {
  display: flex;
  padding-left: 2rem;
  margin-top: 3rem;
  flex-direction: center;
  align-items: first baseline;
  justify-content: center;
}

.product .row .prod-card {
  text-align: center;
  /* width: 50%; */
}

.product .row .prod-card h4 {
  font-family: gothicbold;
  font-size: 1.3rem;
}

.product .row .prod-card p {
  font-size: 1.1rem;
}

.product .row .prod-card img {
  width: 250px;
  height: 250px;
  margin: 2rem;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 5px 35px rgba(1, 1, 3, 0.3);
}

.product .row .prod-card img:hover {
  transform: scale(1.1);
}

.product .row .prod-card .prod-card-title {
  margin: 1rem auto 0.5rem;
}

/* testi section */
.testi {
  min-height: 100vh;
  display: flex;
  background-image: url(../images/story_web.png);
  background-color: white;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: right;
  position: relative;
}

.testi .content {
  font-size: 1.5rem;
  padding: 1.4rem 7%;
  padding-left: 5rem;
  padding-top: 8rem;
  max-width: 160rem;
  text-align: center;
}

.testi .content img {
  width: 100;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

/* contact section */
.contactUs {
  min-height: 100vh;
  padding: 4rem 7% 1.4rem;
  position: relative;
  width: 100%;
}

.contactUs .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactUs .title h3 {
  padding: 1.4rem;
  margin-bottom: 4rem;
  font-size: 2rem;
  font-weight: 100;
  font-family: gothicbold;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.box {
  position: relative;
}

.form {
  grid-area: form;
}

.info {
  grid-area: info;
}

.map {
  grid-area: map;
}

.contact {
  padding: 2rem;
  background-color: white;
  box-shadow: 0 5px 35px rgba(1, 1, 3, 0.15);
}

.box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas:
    "form info"
    "form map";
  grid-gap: 1.4rem;
}

.contact h4 {
  color: #000000;
  font-family: gothicbold;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

/* form */
.formBox {
  position: relative;
  width: 100%;
}

.formBox .row50 {
  display: flex;
  gap: 20px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.formBox .row190 .inputBox {
  width: 100%;
}

.inputBox span {
  color: var(--brown);
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.inputBox input {
  padding: 10px;
  font-family: gothic;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: 1px solid var(--brown);
}

.inputBox textarea {
  padding: 10px;
  font-family: gothic;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: 1px solid var(--brown);
  resize: none;
  min-height: 200px;
  margin-bottom: 10px;
}

.inputBox input[type="submit"] {
  background: var(--primary);
  color: var(--brown);
  border: none;
  font-size: 1rem;
  max-width: 120px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

/* info box */
.info {
  font-family: gothic;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  background-color: var(--brown);
}

.info h5 {
  color: var(--primary);
  font-family: gothicbold;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.info .infoBox div {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.info .infoBox div span {
  min-width: 2rem;
  height: 2rem;
  color: var(--brown);
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.info .infoBox div p {
  color: var(--primary);
  font-size: 1rem;
}

.info .infoBox div a {
  color: var(--primary);
  text-decoration: none;
  font-size: 1rem;
}

.map {
  padding: 0;
}

.map iframe {
  width: 100%;
  height: 100%;
}

/* footer */
footer {
  background-color: var(--brown);
  color: var(--primary);
  text-align: center;
  padding: 1.4rem 0rem 1.4rem;
  margin-top: 3rem;
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: var(--primary);
  padding: 0.7rem 1rem;
  transition: 0.2s ease-in-out;
}

footer .links a:hover {
  color: var(--bg);
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--primary);
  font-weight: 700;
}
