@media (max-width: 992px) {
  html {
    font-size: 70%;
  }

  /* navbar */
  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 20rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
    background-color: var(--primary);
  }

  .navbar .navbar-nav a {
    color: black;
    display: block;
    margin: 1rem;
    font-size: 1.5rem;
  }

  .navbar .navbar-nav a::after {
    border-bottom: none;
  }

  /* home */
  .hero {
    min-height: 50vh;
  }

  .hero .content {
    font-size: 200%;
  }

  /* about */
  .about .content {
    padding-right: 2rem;
    padding-top: 5rem;
    max-width: 300rem;
  }

  .about .content h2 {
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
  }

  .about .content h2 span {
    font-size: 2.5rem;
  }

  .about .content p {
    font-size: 1.1rem;
  }

  .about .content p span {
    font-size: 1.2rem;
  }

  /* product */
  .gallery .row h5 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .gallery .row .menu .content {
    width: 30%;
  }

  .gallery .row .menu .content img {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    text-align: center;
    margin: 0 auto;
    display: block;
  }

  .gallery .row .menu .content h4 {
    font-size: 1.2rem;
  }

  .gallery .row .menu .content p {
    font-size: 1rem;
  }

  /* testi */
  .testi {
    height: auto;
    padding-top: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .slide p {
    padding: 0 20px;
  }

  .nav-btn {
    display: none;
  }

  /* contact */
  .contactUs {
    min-height: auto;
  }

  .box {
    grid-template-rows: auto;
  }

  .info {
    height: 180px;
  }

  .map {
    height: 250px;
  }

  /* footer */
  footer .links {
    font-size: 1.5rem;
  }

  footer .credit {
    font-size: 1.5rem;
  }
}

@media (max-width: 820px) {
  /* home */
  .hero img {
    margin-left: 6rem;
  }

  /* about */
  .about img {
    width: 200%;
  }
}

@media (max-width: 768px) {
  /* home */
  .hero .yakoimg img {
    width: 300px;
    margin-left: 6rem;
  }

  /* about */
  .about img {
    width: 250%;
  }

  .about .content p {
    font-size: 1.1rem;
  }

  .about .content p span {
    font-size: 1.2rem;
  }
}
